body, html {
  margin: 0;
  height: 100%;	
}

body {
  background-image: url("audreysbackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
	color: #DC143C;
  text-align: center;
	font-size: 60px;
}

h2 {
    text-align: center;
    background-color: white;
    border-radius: 30px;
    padding: 15px 5px ;
    margin: 2cm 8cm;
    color: #DC143C;
    font-size:40px;
}
	
.navbar {
  overflow: hidden;
  background-color: #323;
  border-radius: 30px;
}

.navbar a {
  float: left;
  color: #FFF8DC;
  font-family: Verdana, sans-serif;
  border-radius: 30px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 30%
}

.navbar a:hover {
  background-color: #DC143C;
}
